<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>XDB Collection</title>
    <link rel="stylesheet" href='/css/style.css'>
  </head>
  <body>
    <div>
      <a href="/xdb">Back to Collections</a>
    </div>
    <h2>Collection</h2>
    <div><?= collection ?></div>
    <h2>JSON</h2>
    <table border>
      <thead>
        <tr>
          <? fields.forEach(field => { ?>
            <td><?= field ?></td>
          <? }) ?>
        </tr>
      </thead>
      <tbody>
        <? collectionJSON.data.forEach(document => { ?>
          <tr>
            <? fields.forEach(field => { ?>
              <td><?= document[field] ?></td>
            <? }) ?>
          </tr>
        <? }) ?>
      </tbody>
    </table>
  </body>
</html>
