<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>XDB Collections</title>
    <link rel="stylesheet" href='/css/style.css'>
  </head>
  <body>
    <h2>Collections</h2>
    <ol>
      <? allCollections.forEach(collection => { ?>
        <li>
          <a href="/xdb/collection/<?= collection ?>">
            <?= collection ?>
          </a>
        </li>
      <? }) ?>
    </ol>
  </body>
</html>
